<h2 id="continuous-wavelet-transforms-in-python.">Continuous wavelet transforms in Python.</h2>
<p><a href='https://travis-ci.org/aaren/wavelets'> <img src='https://secure.travis-ci.org/aaren/wavelets.png?branch=master'></a></p>
<p>A Clean Python implementation of the wavelet analysis outlined in <a href="http://paos.colorado.edu/research/wavelets/">Torrence and Compo</a> (BAMS, 1998)</p>
<div class="figure">
<img src="https://raw.github.com/aaren/wavelets/master/tests/coi_example.png" alt="random data" /><p class="caption">random data</p>
</div>
<h3 id="usage">Usage</h3>
<pre class="sourceCode python"><code class="sourceCode python"><span class="ch">from</span> wavelets <span class="ch">import</span> WaveletAnalysis

<span class="co"># given a signal x(t)</span>
x = np.random.randn(<span class="dv">1000</span>)
<span class="co"># and a sample spacing</span>
dt = <span class="fl">0.1</span>

wa = WaveletAnalysis(x, dt=dt)

<span class="co"># wavelet power spectrum</span>
power = wa.wavelet_power

<span class="co"># scales </span>
scales = wa.scales

<span class="co"># associated time vector</span>
t = wa.time

<span class="co"># reconstruction of the original data</span>
rx = wa.reconstruction()</code></pre>
<h4 id="how-would-you-plot-this">How would you plot this?</h4>
<pre class="sourceCode python"><code class="sourceCode python"><span class="ch">import</span> matplotlib.pyplot <span class="ch">as</span> plt

fig, ax = plt.subplots()
T, S = np.meshgrid(t, scales)
ax.contourf(T, S, power, <span class="dv">100</span>)
ax.set_yscale(<span class="st">&#39;log&#39;</span>)
fig.savefig(<span class="st">&#39;test_wavelet_power_spectrum.png&#39;</span>)</code></pre>
<p>See the <a href="./tests.py">tests</a> for more plotting examples.</p>
<h4 id="what-wavelet-functions-can-i-use">What wavelet functions can I use?</h4>
<p>The default is to use the Morlet. The Ricker (aka Mexican hat, aka Marr) is also available.</p>
<p>You can write your own wavelet functions, in either time or frequency. Just follow the example of Morlet in the source.</p>
<p>You specify the function to use when starting the analysis:</p>
<pre class="sourceCode python"><code class="sourceCode python"><span class="ch">from</span> wavelets <span class="ch">import</span> Ricker

wa = WaveletAnalysis(data=x, wavelet=Ricker(), dt=dt)</code></pre>
<h3 id="installation">Installation</h3>
<pre class="sh"><code>pip install git+https://github.com/aaren/wavelets</code></pre>
<p>or install from a local copy:</p>
<pre class="sh"><code>git clone https://github.com/aaren/wavelets.git
cd wavelets
pip install -r requirements.txt
python setup.py install
# Optional: Run testsuite
pip install -r test-requirements.txt
nosetests</code></pre>
<h3 id="requirements">Requirements</h3>
<ul>
<li>Python 2.7+ / 3.4+ (other versions might work but have not been tested)</li>
<li>Numpy (developed with 1.7.1)</li>
<li>Scipy (developed with 0.12.0)</li>
</ul>
<p>Scipy is only used for <code>signal.fftconvolve</code> and <code>optimize.fsolve</code>, and could potentially be removed.</p>
<h3 id="license">License</h3>
<p>The MIT License (MIT)</p>
<p>Copyright (c) 2013 Aaron O'Leary (dev@aaren.me)</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
